.button {
  color: var(var(--color-light));
  background-color: var(var(--color-dark));
  border: 2px solid var(var(--color-red));
  border-radius: var(--border-radius);
  display: inline-block;
  font: inherit;
  padding: 0.3em 1em;
  font-weight: 700;
  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
  text-decoration: none;
}

.button:hover, .button:focus-within {
  --button-bg: var(--color-dark);
  --button-text: var(--color-light);
  --button-border: var(--color-dark);
}

.nav-button, .nav-button:focus-within{
  border: 0.25rem solid var(--color-turquoise);
  color: var(--color-dark);
  background-color: var(--color-turquoise);
  display: inline-block;
  font-family: var(--font-display);
  padding: 0.5rem 1rem 0rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight:300;
  text-decoration: none;
  transition-property: transform, background-color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.25, .5, .5, 1);
}

.nav-button:active, .nav-button:hover, .nav-button:focus {
  border: 0.25rem solid transparent;
  border-radius: 0;
  background-color: var(--color-light);
  box-shadow: 0.5rem -0.5rem 0 0 var(--color-red), -0.5rem 0.5rem 0 0 var(--color-yellow);
  transition: all 0.25s ease-in-out;
}

.rounded-btn {
  font-family: var(--font-display);
  background-color:var(--color-dark);
  font-size: var(--size-step-0);
  text-decoration: none;
  color: var(--color-light);
  padding-block-start: 0.7rem;
  padding-inline: 0.7rem;
  max-width: var(--space-3xl);
  height:4rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  border: 0.15rem solid black;
  background-image: radial-gradient(100% 100% at 100% 0, #e5633e 0, #cf4116 100%);  color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 .5ch .6ch rgba(0, 0, 0, 0.5), inset 0 -0.7rem 0 rgba(145, 47, 2, 0.9);
  cursor: pointer;
  transition:0.2s;
  position: relative; /* Needed for absolute positioning of ::after */

}

.rounded-btn:hover, .rounded-btn:focus-within, .rounded-btn:active {
  height:3.6rem;
  margin-block-start: 0.4rem;
  background-image: radial-gradient(100% 100% at 100% 0, #ffd902 0, #ec821e 100%);  color: #ffffff;
  box-shadow: 0 .3ch .3ch rgba(0, 0, 0, 0.5), inset 0 -0.3rem 0 rgba(145, 47, 2, 0.9);
}

.rounded-btn::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background: transparent;
}
