.button {
  color: var(var(--color-light));
  background-color: var(var(--color-dark));
  border: 2px solid var(var(--color-red));
  border-radius: var(--border-radius);
  display: inline-block;
  font: inherit;
  padding: 0.3em 1em;
  font-weight: 700;
  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
  text-decoration: none;
}

.button:hover {
  --button-bg: var(--color-dark);
  --button-text: var(--color-light);
  --button-border: var(--color-dark);
}

.nav-button{
  border: 0.25rem solid var(--color-green);
  color: var(--color-dark);
  background-color: var(--color-green);
  display: inline-block;
  font-family: var(--font-display);
  padding: 0.5rem 1rem 0rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight:300;
  text-decoration: none;
  transition-property: transform, background-color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.25, .5, .5, 1);
}

.nav-button:active, .nav-button:hover, .nav-button:focus {
  border: 0.25rem solid transparent;
  border-radius: 0;
  background-color: var(--color-light);
  box-shadow: 0.5rem -0.5rem 0 0 var(--color-red), -0.5rem 0.5rem 0 0 var(--color-yellow);
  transition: all 0.25s ease-in-out;
}

/* .nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding-inline: var(--space-xs);
  padding-block-start: 1ch;
  padding-block-end: 0.6ch;
  margin-inline: 0.5ch;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 1.4rem;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: var(--font-display);
  font-size: var(--size-step-0);
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.nav-button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.nav-button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.nav-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
} */
