.top-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
  padding-block-end: var(--space-s);
}

.link-section-item{
  background-color: var(--color-red);
  color: var(--color-dark);
  padding-inline: 1em;
  display: inline-block;
}

.nav-main {
  padding-inline: var(--space-s);
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-display);
}

.nav-links {
  display: flex;
}

.nav-link-item {
  margin-inline-end: var(--space-s);
  display: flex;
  align-items: center;
}

.nav-link-icon {
  display: flex;
  align-items: center;
  margin-inline-end: var(--space-2xs);
}

@media (max-width: 30em){
  .nav-link-text {
  display: none;
  }
}

/* set on parent div to get the right z-index context */
.ontop {
  z-index: 1;
  position: relative;
}

header svg {
  transform: translateY(-0.1em);
}