.prose {
  --flow-space: var(--space-md);
  --wrapper-width: clamp(16rem, 90vw, 55rem);

  font-feature-settings: "lnum" 1, "tnum" 1;
}

.subtitle {
  --flow-space: var(--space-xs);
  --wrapper-width: clamp(16rem, 90vw, 20rem);
}

.prose :is(h2, h3, h4) + * {
  --flow-space: var(--space-xs);
}

.prose :is(h1, h2, h3) + :is(h1, h2, h3) {
  --flow-space: var(--space-m-l);
}

.prose :is(p, code, pre) + ul {
  --flow-space: var(--space-xs);
}

.heading-anchor::before {
  content: "# ";
}

.prose .heading-anchor:is(:hover, :focus) {
  text-decoration: underline;
}
.prose .heading-anchor {
  text-decoration: none;
}

.prose mark {
  background: var(--color-red);
}

.footnotes-sep {
  display: none;
}

.footnotes-list {
  font-style:italic;
}
.footnote-ref {
  font-size: var(--size-step-min-1);
  font-family: var(--font-display);
  color: var(--color-blue);
}

/* .prose :not(.grid) li + li {
  margin-top: var(--space-2xs);
}

.prose :not(.post-meta) li + li {
  margin-top: var(--space-2xs);
} */

.prose :when(ul:not(.grid), ol:not(.grid)) {
  padding-inline-start: var(--space-s);
}

.prose ul ul {
  margin-left: var(--space-l);
}