.prose {
  --flow-space: var(--space-l);
  --wrapper-width: clamp(16rem, 90vw, 55rem);
}

.subtitle {
  --flow-space: var(--space-xs);
  --wrapper-width: clamp(16rem, 90vw, 20rem);
}

.prose :is(h2, h3, h4) + * {
  --flow-space: var(--space-xs);
}

.prose :is(h1, h2, h3) + :is(h1, h2, h3) {
  --flow-space: var(--space-m-l);
}

.prose :is(p, code, pre) + ul {
  --flow-space: var(--space-xs);
}

.prose .heading-anchor:is(:hover, :focus) {
  text-decoration: underline;
}
.prose .heading-anchor {
  text-decoration: none;
}

.prose mark {
  background: var(--color-primary-glare);
}

/* .prose :not(.grid) li + li {
  margin-top: var(--space-2xs);
}

.prose :not(.post-meta) li + li {
  margin-top: var(--space-2xs);
} */

.prose :when(ul:not(.grid), ol:not(.grid)) {
  padding-inline-start: var(--space-s);
}

.prose ul ul {
  margin-left: var(--space-l);
}