.site-foot {
  padding-block: var(--space-l);
  background: var(--color-dark);
  color: var(--color-light);
}

.site-foot__inner {
  display: flex;
  gap: var(--space-s);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.site-foot__inner > a:hover{
  color: var(--color-red);
}

.site-foot svg {
  block-size: 0.9em;
  inline-size: 0.9em;
}
