<section class="review-album-info md:flex">
<div class="review-image"><img src="{{image}}"></div>
<dl class="review-meta flex flex-col justify-center" style="{% if theme %} background: var(--color-{{theme}});{%endif%}">
  <dt>artist</dt> 
  <dd>{{artist}}</dd>
  <dt>title</dt>
  <dd>{{album}}</dd>
  <dt>year</dt>
  <dd>{{year}}</dd>
  <dt>runtime</dt>
  <dd>{{runtime}}</dd>
  <dt>score</dt>
  <dd>{{score}} / 100</dd>
</dl>
</section>