---
layout: base
---

<header class="section spot-color-dark">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="wrapper flow prose text-center">
        <h1 class="title-shadow">{{ title }}</h1>
            {% if subtitle %}
              <p class="mt-l-xl subtitle">{{ subtitle | safe }}</p>
            {% endif %}
      </section>
    </div>
  </div>
</header>

<article class="wrapper region">
  <ul class="wrapper post-list mt-l-xl" role="list">
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 5) %}

    <li class="post-item flow overflow-hidden">
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      {% set definedDate = post.date %}{% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article>
