---
layout: base
---

<header class="section spot-color-dark">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="wrapper flow prose text-center">
        <h2 class="title-shadow">{{ title }}</h2>
            {% if subtitle %}
              <p class="mt-l-xl subtitle">{{ subtitle | safe }}</p>
            {% endif %}
      </section>
    </div>
  </div>
</header>
<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper post-list mt-l-xl">
    {% set postslist = collections.posts %} 
    {% for post in postslist %}
      {% if post.data.type %}
        {% include "partials/item-type/post-item.njk" %}
      {% else %}
        {% include "partials/default.njk" %}
      {% endif %}
    {% endfor %}
    
  </div>
</article>