---
layout: base
---


<header class="section spot-color-dark">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center title-shadow">{{ title }}</h1>
    </div>
  </div>
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose text-center">
    <h2>Latest content</h2>
    {% if articles.intro %}
    <p>{{ articles.intro }}</p>
    {% endif %}
  </div>

  <div class="wrapper post-list mt-l-xl">
    {% set postslist = collections.posts %} 
{% for post in postslist.slice(0, 20) %}
{% if post.data.type %}
  {% include "partials/" + post.data.type + ".njk" %}
{% else %}
  {% include "partials/default.njk" %}
{% endif %}
{% endfor %}
    
  </div>
</article>

<div class="wrapper flow prose text-center mb-xl">
  <a href="/main/">Check all the rest -></a>
</div>