---
layout: base
---

<header class="section spot-color-dark">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center title-shadow">{{ title }}</h1>
    </div>
  </div>
  {# {% include 'svg/divider-pixels.svg' %} #}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose text-center">
    <h2>Latest articles</h2>
    {% if articles.intro %}
    <p>{{ articles.intro }}</p>
    {% endif %}
  </div>

  <div class="wrapper post-list mt-l-xl" role="list">
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 5) %}

    <article class="post-item flow overflow-hidden">
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      <div class="post-meta mt-m">
        {% set definedDate = date %} <time class="mb-m post-date" datetime="{{ definedDatedate | toIsoString }}">[{{ definedDate | formatDate('YYYY-MM-DD')}}]</time> 
        <div class="tag-list mb-m">
          {% for tag in post.data.tags %}
            {% if tag != "posts" %}
              <li class="tag">[{{ tag }}]</li>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <p>{{ post.data.description }}</p>
    </article>

    {% endfor %}
  </div>
</article>
