---
layout: base
---

<header class="section spot-color-dark">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center title-shadow">{{ title }}</h1>
    </div>
  </div>
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose text-center">
    <h2>Latest content</h2>
    {% if articles.intro %}
    <p>{{ articles.intro }}</p>
    {% endif %}
  </div>

  <div class="wrapper post-list mt-l-xl">
    {% set postslist = collections.mainContent %} 
    {% for post in postslist.slice(0, 5) %}

    <article class="post-item flow overflow-hidden">
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      <div class="post-meta mt-xs">
        {% set definedDate = post.date %} {% include "partials/date.njk" %}
        <span class="post-category">${{post.data.category}}</span>
        <ul class="tag-list">
          {% for tag in post.data.tags %}
            {% if tag != "posts" %}
              <li class="tag">#{{ tag }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <p class="mt-xs">{{ post.data.description }}</p>
    </article>
    {% endfor %}
    
  </div>
</article>

<div class="wrapper flow prose text-center mb-xl">
  <a href="/main/">Check all the rest -></a>
</div>