---
layout: base
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1 class="">{{ title }}</h1>
    {% if subtitle %}
      <p class="prose">{{ subtitle }}</p>
    {% endif %}
    

        {{ content | safe }}
      </div>
    </article>
