---
layout: base
schema: blog
---
{% if theme %}<style>
.title-shadow-post { text-shadow: var(--color-{{theme}}) 0.08ch 0.08ch; }
.logo { text-shadow: var(--color-{{theme}}) 0.1ch 0.1ch; }
.logo:hover, .logo:focus-within { color: var(--color-{{theme}}); }
</style>{% endif %}

<article class="region blog">
  <div class="wrapper prose">
    <h1 class="title-shadow-post">{{ title }}</h1>

    <div class="post-meta my-s-m">
      {% set definedDate = date %}{% include "partials/date.njk" %}
      <ul class="tag-list">
        {% for tag in tags %}
          {% if tag != "posts" %}
            <li class="tag rounded-btn">#{{ tag }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  <div class="wrapper flow">
    {{ content | safe }}

  </div>
  </div>
</article>

{% include "partials/post-meta.njk" %}