---
layout: base
schema: blog
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% set definedDate = date %} {% include "partials/date.njk" %}

    {{ content | safe }}
  </div>
</article>
