---
permalink: "/assets/css/themes.css"
eleventyExcludeFromCollections: true
---
{% set seenThemes = [] %}
{% set uniqueThemes = [] %}

{% for post in collections.posts %}
  {% if post.data.theme %}
    {% set key = post.data.theme | join('-') %}
    {% if not (key in seenThemes) %}
      {% set seenThemes = seenThemes.concat([key]) %}
      {% set uniqueThemes = uniqueThemes.concat([post.data.theme]) %}
    {% endif %}
  {% endif %}
{% endfor %}
{% for theme in uniqueThemes %}

.theme-{{ theme[0] }} {
  border-color: var(--color-{{ theme[0] }});
  color: var(--color-{{ theme[1] }});
  background-color: var(--color-{{ theme[0] }});
}

.theme-{{ theme[0] }}:hover,
.theme-{{ theme[0] }}:focus-within {
  border-color: var(--color-{{ theme[1] }});
  box-shadow: 0.75rem -0.75rem 0 0 var(--color-dark), -0.75rem 0.75rem 0 0 var(--color-{{ theme[0] }});
}

.theme-{{ theme[0] }}::selection,
.theme-{{ theme[0]}} *::selection  {
  color: var(--color-{{ theme[0] }});
  background-color: var(--color-{{ theme[1] }});
}

.theme-{{ theme[0] }}-post-tag {
  color: var(--color-{{ theme[0] }});
  background: var(--color-{{ theme[1] }});
}
{% endfor %}