---
permalink: "/assets/css/themes.css"
---

{%- set themeKeys = [] -%}
{%- set themeValues = [] -%}

{%- for post in collections.posts -%}
  {%- if post.data.theme -%}
    {%- set key = post.data.theme | join('-') -%}
    {%- if themeKeys.indexOf(key) == -1 -%}
      {%- set themeKeys = themeKeys.concat([key]) -%}
      {%- set themeValues = themeValues.concat([post.data.theme]) -%}
    {% endif -%}
  {% endif -%}
{%- endfor -%}

{%- for i in range(0, themeKeys.length - 1) -%}
  {%- set theme = themeValues[i] -%}
.theme-{{ theme[0] }} {
  border-color: var(--color-{{ theme[0] }});
  color: var(--color-{{ theme[1] }});
  background-color: var(--color-{{ theme[0] }});
}

.theme-{{ theme[0] }}:hover,
.theme-{{ theme[0] }}:focus-within {
  border-color: var(--color-{{ theme[1] }});
  box-shadow: 0.75rem -0.75rem 0 0 var(--color-{{ theme[1] }}), -0.75rem 0.75rem 0 0 var(--color-{{ theme[0] }});
}

.theme-{{ theme[0] }}-post-tag {
  color: var(--color-{{ theme[0] }});
  background: var(--color-{{ theme[1] }});
}

{%- endfor -%}