---
title: Collections
permalink: /collections/index.html
description: My Collections
layout: page
type: default
---

<h2>This page is still a work in progress!</h2>

<h3>Casiopea albums</h3>

<p>Casiopea (1986) [32XA-104]</p>
<p>Casiopea (2000) [TOCT-24364]</p>
<p>Casiopea (2002) [VRCL-2221]</p>
<p>Casiopea (2016) [HI-RES]</p>
<p>Super Flight (1979) [WEB]</p>
<p>Super Flight (1986) [32XA-105]</p>
<p>Super Flight (2002) [VRCL 2222]</p>
<p>Super Flight (2016) [HI-RES]</p>
<p>Make Up City (1987) [32XA-117]</p>
<p>Make Up City (1992) [D-1087]</p>
<p>Make Up City (2002) [VRCL-2224]</p>
<p>Make Up City (2016) [HI-RES]</p>
<p>Thunder Live (1986) [32XA-106]</p>
<p>Thunder Live (2002) [VRCL-2223]</p>
<p>Thunder Live (2016) [HI-RES]</p>
<p>Cross Point (1987) [32XA-118]</p>
<p>Cross Point (2016) [HI-RES]</p>
<p>Eyes Of The Mind (1984) [38XA-11]</p>
<p>Eyes Of The Mind (2016) [HI-RES]</p>
<p>4 X 4 (2002) [VRCL-2208]</p>
<p>4 X 4 (2016) [HI-RES]</p>
<p>Jive Jive (1984) [38XA-8]</p>
<p>Jive Jive (2002) [VRCL 2210]</p>
<p>Jive Jive (2016) [HI-RES]</p>
<p>Mint Jams (1984) [SNCD 924]</p>
<p>Mint Jams (1987) [32XA-112]</p>
<p>Mint Jams (2016) [HI-RES]</p>
<p>Photographs (2002) [VRCL-2229]</p>
<p>Photographs (2016) [HI-RES]</p>
<p>Down Upbeat (2016) [HI-RES]</p>
<p>Casiopea Live (1985) [32XA-48]</p>
<p>Casiopea Live (2016) [HI-RES]</p>
<p>Halle (1985) [32XA-38]</p>
<p>Halle (2002) [VRCL-2233]</p>
<p>Halle (2016) [HI-RES]</p>
<p>Sun Sun (1986) [32XA-90]</p>
<p>Sun Sun (2016) [HI-RES]</p>
<p>Casiopea Perfect Live II (1987) [48XA-167_8]</p>
<p>Casiopea Perfect Live II (2004) [GNBL-1004] [VIDEO]</p>
<p>World Live '88 (1988) [UPCY-9702]</p>
<p>We Want More (1992) [WEB]</p>
<p>Dramatic (1993) [HI-RES]</p>
<p>Answers (1994) [ALCA-1001]</p>
<p>Answers (1994) [HI-RES]</p>
<p>Hearty Notes (1994) [ALCA-5007]</p>
<p>Hearty Notes (1994) [HI-RES]</p>
<p>Flowers (1996) [PCCR-00230]</p>
<p>Flowers (2010) [WEB]</p>
<p>Be (1988) [PCCR-00285]</p>
<p>Be (2010) [WEB]</p>
<p>Places (2003) [PICL-1276 ]</p>
<p>Places (2006) [WEB]</p>
<p>Marble (2004) [GNCL-1015]</p>
<p>Marble (2004) [WEB]</p>
<p>Signal (2005) [GNCL-1041]</p>
<p>Live Liftoff 2012 (2013) [HUCD-10135~6B]</p>
<p>Live Liftoff 2012 (2013) [HUCD-10135~6B] [VIDEO]</p>
<p>TA・MA・TE・BOX (2013) [HUCD-10149B]</p>
<p>I・BU・KI [HI-RES]</p>
<p>Vestige (2017) [HUCD-10245~5]</p>
<p>A・KA・RI (2018) [HI-RES]</p>
<p>A・KA・RI (2018) [HUCD-10263]</p>
<p>Panspermia (2019) [WEB]</p>
<p>Panspermia (2019) [HI-RES]</p>
<p>Celebrate 40th (2020) [WEB]</p>
<p>New Topics (2022) [HI-RES]</p>
<p>New Topics (2022) [HUCD-10315]</p>
<p>New Beginning (2023) [HUCD-10320~1]</p>
<p>New Beginning (2023) [WEB]</p>
<p>Right Now (2024) [HI-RES]</p>
<p>Right Now (2024) [HUCD-10328]</p>