---
permalink: /atom.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/atom.xml">
  <title>{{ meta.blog.name }}</title>
  <subtitle>{{ meta.blog.description }}</subtitle>
  <link href="{{ meta.url }}/atom.xml" rel="self" />
  <link href="{{ meta.url }}/" />
  {% set postslist = collections.articles %}
  <updated>{{ postslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/atom.xml</id>
  <author>
    <name>{{ meta.author }}</name>
    <uri>{{ meta.url }}</uri>
  </author>
  {%- for post in postslist %} {%- set absolutePostUrl = post.url | absoluteUrl(meta.url)
  %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content
      xml:lang="{{ locale }}"
      type="html"
      >{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
    <summary>{{ post.data.description }}</summary>
    <author>
      <name>{{ meta.author }}</name>
    </author>
  </entry>
  {%- endfor %}
</feed>
