---
title: Projects
permalink: /projects/index.html
description: "Some of the projects I've worked on"
subtitle: "Here's some of the projects I've worked on over the years"
layout: page
type: default
theme: ["blue", "light"]
---
<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper post-list mt-l-xl">
    {% set postslist = collections.projects %} 
    {% for post in postslist %}
      {% include "partials/post-item.njk" %}
    {% endfor %}
    
  </div>
</article>