---
title: Subscribe
permalink: /subscribe/index.html
description: Here's some feeds, yo!
layout: page
type: default
---

Testing kissa 123 jne.
<a class="inline-img-link" href="http://validator.w3.org/feed/check.cgi?url=httpster.io/atom.xml"><img class="inline-img" src="/assets/images/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
<a class="inline-img-link" href="http://validator.w3.org/feed/check.cgi?url=httpster.io/rss.xml"><img class="inline-img" src="/assets/images/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a>