---
title: Subscribe
permalink: /subscribe/index.html
description: Here's some feeds, yo!
layout: page
type: default
---

I'm not a super frequent writer, so unless you're feeling like mashing F5 on the daily on my site, I recommend subscribing to one of my feeds!

There's three flavours to pick from, choose wisely!

<section class="subscription-section">
  <a class="rounded-btn" href="/atom.xml">Atom</a>
  <a class="rounded-btn" href="/rss.xml">RSS</a>
  <a class="rounded-btn" href="/feed.json">JSON Feed</a>
</section>

<section class="subscription-section">
  <a class="inline-img-link" href="http://validator.w3.org/feed/check.cgi?url=httpster.io/atom.xml"><img class="inline-img" src="/assets/images/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
  <a class="inline-img-link" href="http://validator.w3.org/feed/check.cgi?url=httpster.io/rss.xml"><img class="inline-img" src="/assets/images/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
</section>

I also have some animated 88x31 GIFs if you wish to link to my site!
<section>
  <img class="inline-img" src="/assets/images/88x31.png">
  <img class="inline-img" src="/assets/images/88x31.gif">
  <img class="inline-img" src="/assets/images/88x31@2x.gif">
  <img class="inline-img" src="/assets/images/88x31@4x.gif">
</section>