<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image" />
{% if meta.meta_data.twitterSite %}
<meta name="twitter:site" content="{{ meta.meta_data.twitterSite }}" />
{% endif %} {% if meta.meta_data.twitterCreator %}
<meta name="twitter:creator" content="{{ meta.meta_data.twitterCreator }}" />
{% endif %}
<meta name="twitter:dnt" content="on" />