<base href="{{ page.url }}" />

<meta name="description" content="{% if seo.description -%}{{seo.description}}{% elif description -%}{{ description }}{% else -%}{{ meta.siteDescription }}{%- endif %}"/>

<meta name="theme-color" content="{{ meta.themeColor }}" />
<meta name="robots" content="index,follow" /><!-- All Search Engines -->
<meta name="googlebot" content="index,follow" /><!-- Google Specific -->
<meta name="generator" content="{{ eleventy.generator }}" /><!-- thank you, Zach -->
<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no" />
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ meta.url }}{{ page.url }}" />

<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt" />

<!-- Mastodon verified site -->
<link rel="me" href="{{ meta.meta_data.mastodonProfile }}" />

{% include "partials/meta/og.njk" %}
{% include "partials/meta/twitter.njk" %}
{% include "partials/meta/favicon.njk" %}
{% include "partials/meta/webmentions.njk" %}