{% set mentionUrls = webmentions | getWebmentionsForUrl(webmentionUrl) %}

<aside class="postmeta-box">
  {% if sharedlink %}
  <div class="meta-mastolinks">
    <h1>Related links:</h1> 
    {% for link in sharedlink %} 
      <a href="{{ link }}" class="shared-link">{{link}}</a>
    {% endfor %}
  </div>
  {% endif %}
<div class="kudos">Leave a kudos <button class="post-meta-button did_select">Hi!</button></div>


  <p class="p-m text-center">Did you mention this on your website? Tell me about it and send a webmention!</p>

  <form class="post-meta-form" action="https://webmention.io/httpster.io/webmention" method="post" class="form-webmention">
    <label for="form-webmention-source">URL</label>
    <div>
      <input class="post-meta-field" id="form-webmention-source" type="url" name="source" placeholder="https://yourwebsite.url" required />
      <input type="hidden" name="target" value="https://httpster.io{{ page.url }}" />
      <input type="submit" class="post-meta-button" value="Send" />
    </div>
  </form>

</aside>