<article class="post-item {{ post.data.type }} {% if post.data.theme %}theme-{{ post.data.theme[0] }}{% endif %} flow overflow-hidden h-entry">
  <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
  <div class="post-meta mt-xs">
    {% set definedDate = post.date %} {% include "partials/date.njk" %}
    <span class="post-category">${{ post.data.category }}</span>
    <ul class="tag-list">
      {% for tag in post.data.tags | sort %}
        {% if tag != "posts" %}
          <li class="post-tag {% if post.data.theme %}theme-{{ post.data.theme[0] }}-post-tag{% endif %}">#{{ tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <p class="mt-xs">{{ post.data.description }}</p>
</article>