<nav class="">
    <div class="wrapper flow">
      <section class="">
    {% for item in navigation.main %}
      <a class="link-section-item" href="{{ item.url }}"{{ helpers.getLinkActiveState(item.url,page.url)|safe}}>{{ item.text }}</a>
    {% endfor %}
      </section>
    </div>
</nav>